.Button {
  border: none;
  color: black;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.1s;

  &:hover {
    opacity: 0.5;
  }

  &__success {
    border: 1px solid #52c41a;
    color: #52c41a;
  }

  &__black {
    border: 1px solid rgba(0, 0, 0, 0.75);
  }

  &__createArticle {
    border: 1px solid #52c41a;
    color: #52c41a;
    padding: 2px 10px;
  }
}
