.Form {
  width: 384px;
  background: white;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  box-shadow:
    0px 0.609px 2.933px 0px rgba(0, 0, 0, 0.02),
    0px 1.463px 7.049px 0px rgba(0, 0, 0, 0.03),
    0px 2.755px 13.273px 0px rgba(0, 0, 0, 0.04),
    0px 4.914px 23.676px 0px rgba(0, 0, 0, 0.04),
    0px 9.191px 44.284px 0px rgba(0, 0, 0, 0.05),
    0px 22px 106px 0px rgba(0, 0, 0, 0.07);

  &__title {
    color: #262626;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 28px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__submit {
    padding: 13px 13px;
    width: 100%;
    border-radius: 4px;
    background: #1890ff;
    color: var(--Grey-grey-1, #fff);
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &Text {
      color: #8c8c8c;
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;

      a {
        color: #1890ff;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }
}
