@import 'utils/reset';
@import 'github-markdown-css/github-markdown-light.css';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-family: 'Inter UI', sans-serif;
  background: #ebeef3;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}
