.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 22px;
  background: white;

  .title {
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
  }

  &__buttons {
    display: flex;
    gap: 26px;
    align-items: center;
  }
}
