.UserBlock {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: end;
  
  &__author {
    display: flex;
    flex-direction: column;

    &Avatar {
      width: 46px;
      height: 46px;
      border-radius: 50%;
    }

    &Name {
      color: rgba(0, 0, 0, 0.85);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
    }

    &Date {
      color: rgba(0, 0, 0, 0.5);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      margin-top: 5px;
    }
  }
}
